Basic Python
1. Split this string

In [ ]:
s = "Hi there max!"
s.split(' ')

['Hi', 'there', 'max!']

2. Use .format() to print the following string.
Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

print('The diameter of {} is {} kilometers'.format(planet,diameter))

The diameter of Earth is 12742 kilometers

3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'goodbye']}]}]}

for v in d['k1'][-1].values():
    for i in v[-1].values():
        print(i[-1])

goodbye

Numpy

In [ ]:
import numpy as np

4.1 Create an array of 10 zeros?
4.2 Create an array of 10 fives?

In [ ]:
a = np.zeros(10)
a

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
b = np.array([5 for i in range(10)])

b

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

5. Create an array of all the even integers from 20 to 35

In [ ]:
even_integer = np.arange(20,35,2)
even_integer

array([20, 22, 24, 26, 28, 30, 32, 34])

6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
matrix_3x3 = np.arange(0,9).reshape(3,3)
matrix_3x3

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

7. Concatenate a and b
a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
a = np.array([1,2,3])
b = np.array([3,2,1])
c = np.concatenate([a,b])
c

array([1, 2, 3, 3, 2, 1])

Pandas
8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd
data = {
  'Name':['Ramu', 'Raju', 'Siva'],
  'Mark':[90, 99, 92]  
}
df = pd.DataFrame(data)
df

   Name  Mark
0  Ramu    90
1  Raju    99
2  Siva    92

9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
from datetime import date as dt

dates = pd.date_range(dt(2023,1,1),periods=41)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

10. Create 2D list to DataFrame
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'hii', 22], [2, 'bye', 25], [3, 'hello', 24]]
df_2d = pd.DataFrame(lists)
df_2d

   0      1   2
0  1    hii  22
1  2    bye  25
2  3  hello  24